# libs/deps
vendor
node_modules

# binary
bin
*.wasm

# misc
dump.json
wasm_exec.js
*.log
.next
next-env.d.ts

# binary included for deploy vercel
!web/public/wasm_exec.js
!web/public/go-ngx-config-parser.wasm